* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f4f4f4;
}

header {
  background-color: white;
  padding: 20px 0;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .logo img {
      height: 50px;
      width: auto;
    }

    ul {
      list-style: none;
      display: flex;
    }

    li {
      margin-left: 20px;
      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: #000;
      padding: 5px;
      transition: all 0.3s ease-in-out;
    }

    & ul li a:hover {
      color: #0282f9;
      border-bottom: 2px solid #0282f9;
    }
  }
}

main {
  background-color: #0282f9;
  text-align: end;

  .container-main-text {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    height: 150px;
  }

  .main-container-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

    p {
      display: flex;
    }

    img {
      max-width: 50%;
      max-height: 50%;
    }
  }

  .main-box {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
  }

  p {
    margin-left: 150px;
    margin-top: 35px;
    font-size: 1rem;
    color: white;
  }
}

footer {
  background-image: url('./footer-bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color: white;
  padding: 2rem 0;

  .footer-logo {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 15rem;
  }

  .footer-links {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  div {
    margin: 0 15px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  h4 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .sign-up {
    display: block;
    margin: 1rem auto 0;
    padding: 10px 20px;
    background-color: #0282f9;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }

  & .sign-up:hover {
    background-color: #005bb5;
  }

  .footer-social {
    text-align: end;
    padding: 1rem 0;
  }

  .social-icons ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: 10px;
  }

  li {
    margin: 0 10px;
  }

  img {
    width: 24px;
    height: auto;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}